.doados{
    font-family: 'Inter';
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h2{
    width: 100%;
    margin: 40px 0;
}

.livrosDoados{
    display: flex;
    justify-content: space-around;
    gap: 5%;
    margin: 0 20px;
    margin-bottom: 20px;
    font-size: 16px;
    flex-wrap: wrap;
    
    .card{
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border: 3px solid #005695;
        height: 264px;
        transition: 0.2s;
        margin-bottom: 10px;
        width: 200px;
        
        img{
            border-radius: 3px;
            width: 45%;
            transition: 0.3s;
            mix-blend-mode: darken;
        }
    }
    
    
    img:hover{
        box-shadow: -4px 5px 5px rgba(0, 0, 0, 0.39);
        cursor: pointer;
        transform: scale(1.05);
    }
}

.card:hover{
    background-color: rgba(150, 150, 150, 0.178);
}

@media (max-width: 775px){
    .doados{
        align-items: center;
    }

    .livrosDoados{
        margin: 0;
        width: 400px;

        img{
            width: 40%;
        }

        p{
            font-size: 1.4em;
        }
    }
}

@media (max-width: 540px){
    .livrosDoados{
        width: 70%;
    }
}